<!DOCTYPE html>
<html>
<head>
  <title>EcommerceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <h1>Ecommerce Store</h2>

    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Store", store_path %></li>
      </ul>
    </nav>
  </header>

  <%= yield %>
</div>

</body>
</html>
